@import url(https://fonts.googleapis.com/css?family=Montserrat);

.inicial{
  height: 100%;
  font-weight: 800;
  background: #030321;
  font-family: Tahoma;
}

svg {    
    display: block;
    font: 10.5em 'Tahoma';
    width: 1300px;
    height: 400px;
    margin: 0 auto;
}

.inicial-frase {
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
    display: block;
    font: 'Tahoma';
    width: 1300px;
    height: 10px;
    margin: 0 auto;
    color: #00b3e4;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #ebe069;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #0052d0;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #00b3e4;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #0052d0;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #00e5be;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}

/* BARRA DE NAVEGAÇÃO: https://www.w3schools.com/bootstrap/bootstrap_scrollspy.asp */
/* PARALLAX: https://www.w3schools.com/howto/howto_css_parallax.asp */


#section1 {
	padding-top: 50px;
  height: 800px;
  width: 100%;
}
		
#section2 {
  text-align:center;
	padding-top: 50px;
  height: 200px; 
  width: 100%;
	color: #fff;
	background-color: #0052d0;   
}

#section3 {
  padding-top: 100px;
  border-top:30px solid #0052d0;
  height: 400px; 
  width: 100%;
	background-image: url('../image/produto.jpg'); 
  background-color: transparent;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  text-align:center;
  letter-spacing:10px;
  color: #fff;
}

#section4 {
  text-align:center;
	padding-top: 50px;
  height: 200px; 
  width: 100%;
	color: #fff;
	background-color: #0052d0;   
}

#section5 {
  padding-top: 50px;
  border-top:30px solid #0052d0;
  height: 800px; 
  width: 100%;
	background-image: url('../image/contato.jpeg'); 
  background-color: transparent;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  text-align:center;
  color: #fff;
}

#conteudoSobre {
  height: 600px; 
  width: 100%;
	background-image: url('../image/sobre.jpeg'); 
  background-color: transparent;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

#conteudoProduto {
  height: 600px; 
  width: 100%;
	background-image: url('../image/negocio.jpeg'); 
  background-color: transparent;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
}

.panelSobre {
	padding-top: 40px;
}

.panelSobre1 {
  width: 24%;
  float: left;
  padding-left: 3%;
}
.panelSobre2 {
  width: 24%;
  float: left;
  padding-left: 3%;
}

.panelSobre3 {
  width: 24%;
  float: left;
  padding-left: 3%;
}

.panelSobre4 {
  width: 24%;
  float: right;
  padding-right: 3%;
}

.panel1{
  height: 500px;
  text-align: center;
}

.panelProduto {
	padding-top: 40px;
}

.panelProduto1 {
  width: 32%;
  float: left;
  padding-left: 3%;
}

.panelProduto2 {
  width: 32%;
  float: left;
  padding-left: 3%;
}

.panelProduto3 {
  width: 32%;
  float: right;
  padding-right: 3%;
}

.tituloBorder {
  text-shadow:#000 1px -1px 2px;
}

.letraBorder {
  text-shadow:#000 1px -1px 2px;
  font-size:20px;
}

.containerCenter {
  position:relative;
  left: 20%;
  width: 60%;
  padding-right: 3%;
}

.containerButton {
  float: right;
  padding-right: 2%;
}